{% extends 'Website/base.html' %}

{% block content %}
<hr>
<div class="w3-row-padding w3-padding-64 w3-container">
<form class="w3-container w3-card-4 w3-display-middle" id="login" method="post">
  <h2>Login</h2>
    <p>Login to view rooms and create reservations.</p>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="w3-button w3-blue w3-padding-large w3-large w3-margin-top">Login</button>
    <a href="/login/password_reset/" class="w3-button w3-blue w3-padding-large w3-large w3-margin-top">Forgot Password</a>
    <a href="/login/create-account/" class="w3-button w3-blue w3-display-bottomleft w3-margin w3-round-xxxlarge">Create an Account</a>
</form>
</div>
{% endblock %}
