{% extends 'Website/base.html' %}
{% block content %}
<div class="w3-row-padding w3-padding-64 w3-container">
<hr>
{% if availableRooms %}
    <ul>
    {% for room in availableRooms %}
    {% if room.name < 100 %}
        {% if room.name >= 10 %}
            <li><a href="/buildings/{{ room.floor.building.name }}/{{ room.floor.name }}/{{ room.name }}"<button class="w3-button w3-blue w3-large">{{ room.floor.building.name }} 0{{ room.name }}</button></a></li>
        {% else %}
            <li><a href="/buildings/{{ room.floor.building.name }}/{{ room.floor.name }}/{{ room.name }}"<button class="w3-button w3-blue w3-large">{{ room.floor.building.name }} 00{{ room.name }}</button></a></li>
        {% endif %}
    {% else %}
        <li><a href="/buildings/{{ room.floor.building.name }}/{{ room.floor.name }}/{{ room.name }}"<button class="w3-button w3-blue w3-large">{{ room.floor.building.name }} {{ room.name }}</button></a></li>
    {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No rooms are available.</p>
{% endif %}
{% endblock %}
</div>
