{% extends 'Website/base.html' %}
<!--
    w3 css tutorials https://www.w3schools.com/w3css/default.asp
    Icon Reference: https://www.w3schools.com/icons/icons_reference.asp



-->
{% block content %}
<!-- Header -->
<header class="w3-container w3-blue w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">X Marks the Spot</h1>
  <p class="w3-xlarge">Iteration 2</p>
</header>

<!-- About Container -->
<div class="w3-row-padding w3-padding-64 w3-container" id="about">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Reserve a Room on Campus</h1>
      <h5 class="w3-padding-32">Look for a room, find a room, reserve the room.</h5>

      <p class="w3-text-grey">There are 2 ways to use this website. The first is to find what rooms are available right now and the second is to reserve a room for the future. In order to do either of these you first have to create an account by using the "Create Account" button. Then, in order to find an available room right now,
       go to the "Available Now" tab and you will be shown what rooms are available right now and you can reserve them right from that tab. In order to reserve a room for the future, click on the "Buildings" tab. From there you will be prompted to choose a building, then a floor, and then what ever room you would like to reserve
       and the date and time that you would like to reserve it for.</p>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-calendar w3-padding-64" style="font-size:180px;color:#0040ff"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-book w3-padding-64 w3-margin-right" style="font-size:180px;color:#0040ff"></i>
    </div>

    <div class="w3-twothird">
      <h1>Making Studying Easier</h1>
      <h5 class="w3-padding-32">Don't you hate walking around looking for a classroom to study in and waisting important study time looking for that room. Well this website will fix that.</h5>

      <p class="w3-text-grey">X Marks the Spot is a website that is made to fix that problem. With the ability to find what rooms are available at this very moment, you wont be waisting anymore time looking for a room and you will be using the time that you saved studying. With the ability to reserve a room for the future, you will be able to plan group projects or studying for that big test with out having to add the extra stress of
        having to find a classroom to do it in. X Marks the Spot makes studying easier, makes you more productive, and prevents the walk of misery that is trying to find a classroom.</p>
    </div>
  </div>
</div>

<!-- <img src="CampusImage.jpg">
 -->
<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">ALL FOR ONE AND ONE FOR ALL. </h1>
    <p class="w3-text-white">WE ARE XAVIER MUSKETEERS</p>
</div>
{% endblock %}
