{% extends 'Website/base.html' %}
<!--
    w3 css tutorials https://www.w3schools.com/w3css/default.asp 
    Icon Reference: https://www.w3schools.com/icons/icons_reference.asp



-->
{% block content %}
<!-- Header -->
<header class="w3-container w3-blue w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">X Marks the Spot</h1>
  <p class="w3-xlarge">Iteration 2</p>
  <a href="/login/create-account/" class="w3-button w3-white w3-padding-large w3-large w3-margin-top" >Create an Account</a>
</header>

<!-- About Container -->
<div class="w3-row-padding w3-padding-64 w3-container" id="about">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Reserve a Room on Campus</h1>
      <h5 class="w3-padding-32">Explain how the system works.</h5>

      <p class="w3-text-grey">More explanations. words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words</p>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-calendar w3-padding-64" style="font-size:180px;color:#0040ff"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-book w3-padding-64 w3-margin-right" style="font-size:180px;color:#0040ff"></i>
    </div>

    <div class="w3-twothird">
      <h1>Making Studying Easier</h1>
        <h1>{{ request.user.username }} pppp</h1>
      <h5 class="w3-padding-32">More explanations and stuff. </h5>

      <p class="w3-text-grey">words words words words words words words words words words words words words words words words words words words words words words words words words words wordswords words wordswordswords words words words words words words words words words words words words words words words words words words words.</p>
    </div>
  </div>
</div>

<!-- <img src="CampusImage.jpg">
 -->
<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">ALL FOR ONE AND ONE FOR ALL. </h1>
    <p class="w3-text-white">WE ARE XAVIER MUSKETEERS</p>
</div>
{% endblock %}