{% extends 'Website/base.html' %}

{% block content %}
<hr>
<div class="w3-row-padding w3-padding-64 w3-container">
<form class="w3-container w3-card-4 w3-display-middle" id="login">

  <h2>Login</h2>
  <p>
    <label>Xavier Email</label>
    <input class="w3-input w3-border w3-round-xxlarge" name="email" type="text">
  </p>
  <p>
    <label>Password</label>
    <input class="w3-input w3-border w3-round-xxlarge" name="password" type="text">  
  </p>

  <button class="w3-button w3-blue w3-display-bottomright w3-margin w3-round-xxxlarge">Submit</button>
</form>
{% endblock %}